// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	.border-radius(6px);
	position: relative;
	border: 1px solid @input-border;
	font-size: @input-size;
	width: 100%;
	height: @input-height;
	padding: 0 @input-padding;
	color: @c1;
	background: @input-bg;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: darken(@input-bg,10);
	}
	&:focus{
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: lighten(@c1,50);
	}
	&:-moz-placeholder {
		color: lighten(@c1,50);
	}
	&::-moz-placeholder {
		color: lighten(@c1,50);
	}
}
textarea{
	padding: @input-padding;
	height: auto;
}
select {
	padding-right: @input-height;
}
select[multiple] {
	height: auto;
	padding: @input-padding;
}
input[type=number] {
	padding-right: 0;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
input.input-mini{
	width: @input-height;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
input[type=number].input-mini {
	width: @input-height+20;
}
input.input-small{
	width: 50%;
}
input.input-large{
	width: 100%;
}

// select box
.select_wrap {
	.border-radius(6px);
	position: relative;
	display: block;
	background: @input-bg;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 10px;
		margin: -3px 0 0;
		border: 6px solid transparent;
		border-top-color: darken(@input-bg,30);
	}
	select {
		width: 100%;
		display: block;
		-moz-appearance: none;
		-webkit-appearance:none;
		background: none;
	}
	select:not[multiple] {

	}
	select::-ms-expand {
		display: none;
	}

}

// checkbox, radio
.checkbox_wrap {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	.checkbox_btn {
		position: relative;
		margin: 0 4px 0 0;
		color: darken(@input-border,40);
		&:before {
			.fi;
			font-weight: normal;
		}
	}
	input[type="checkbox"] + .checkbox_btn {
		&:before {
			content: '\e800';
		}
	}
	input[type="checkbox"]:checked + .checkbox_btn {
		&:before {
			content: '\e801';
		}
	}
	input[type="radio"] + .checkbox_btn {
		&:before {
			content: '\e802';
		}
	}
	input[type="radio"]:checked + .checkbox_btn {
		&:before {
			content: '\e803';
		}
	}

	input:disabled + .checkbox_btn {
		color: lighten(@input-border,0);
	}
	input {
		position: absolute;
		z-index: 1;
		top: -20px;
		left: -20px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}