body {
	//width: @content-width;
}
[class^="icon-"] {
	&:before {
		font-weight: normal;
	}
}
#nav-top {
	position: relative;
	padding: 16px 0;
	background: #ccc;
	text-align: center;
	@media @xs, @xxs {
		padding: 5px 0 8px;
	}
}
#page-header {
	.box-shadow(0 0 10px fade(#000,50));
	position: relative;
	z-index: 999;
	@media @xs, @xxs {
		text-align: center;
	}
	.container {
		position: relative;
	}
	.menu_toggle {
		display: none;
		@media @xs, @xxs {
			.border-radius(6px);
			display: inline-block;
			vertical-align: top;
			&:before {
				.fi;
				content: '\f0c9';
				font-weight: normal;
				font-size: 20px;
				margin: 0 10px 0 0;
				.menu-on & {
					content: '\e812';
				}
			}
		}
	}
}
#col-top {
	padding: 65px 0 0;
	background: #e6e6e6 url(../images/bg/03.jpg) top;
	@media @sm {
		padding-top: 20px;
	}
	@media @xs, @xxs {
		padding-top: 0;
	}
}
#col-main {
	float: right;
	width: 840px;
	margin: 0 0 50px;
	@media @md {
		width: 680px;
	}
	@media @sm, @xs, @xxs {
		width: 100%;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#content {
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-left {
	float: left;
	width: 240px;
	margin: 0 0 50px;
	@media @md {
		width: 200px;
	}
	@media @sm, @xs, @xxs {
		width: 100%;
		margin: 0;
	}
}
#col-bottom {
	position: relative;
	padding: 62px 0 0;
	background: @c2 url(../images/bg/04.png) no-repeat top;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		background: fade(#000,8);
		@media @xs, @xxs {
			display: none;
		}
	}
}
#page-footer {
	color: #fff;
	padding: 20px 0;
	background: @c1;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
.mod_menu-top { 
	display: inline;
	margin: 0 3px 0 0;
	@media @xs, @xxs {
		display: none;
	}
	ul { 
		.rlist;
		display: inline;
		li { 
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			margin: 0 11px 0 0;
			&:after {
				content: '/';
				margin: 0 0 0 11px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a { 
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-login { 
	display: inline;
	ul { 
		.rlist;
		display: inline;
		li { 
			display: inline-block;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			margin: 0 9px 0 0;
			&:after {
				content: '/';
				margin: 0 0 0 9px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			a { 
				text-decoration: none;
				color: #fff;
				&:hover{
					color:  @c1;
				}
			}
		}
	}
}
.header_logo { 
	float: left;
	line-height: 1;
	font-size: 12px;
	font-weight: normal;
	margin: 0 35px 0 0;
	@media @md {
		margin-right: 0;
	}
	.has-slideshow & {
		@media @lg, @md, @sm {
			font-size: 20px;
			margin-bottom: -67px;
			margin-right: 0;
		}
	}
	@media @xs, @xxs {
		.clearfix;
		float: none;
		margin: 0 auto 30px;
		width: 420px;
	}
	@media @xxs {
		width: 192px;
	} 
	a { 
		position: relative;
		display: block;
		text-decoration: none;
		color: #86898f;
		float: left;
		width: 150px;
		text-align: center;
		background: #fff;
		padding: 27px 30px 26px;
		margin: 0 8px 0 0;
		@media @xs, @xxs {
			padding-top: 15px;
			padding-bottom: 5px;
		}		
		.has-slideshow & {
			@media @lg, @md, @sm {
				width: 192px;
				margin: 0;
				padding-top: 30px;
				padding-bottom: 28px;			
			}
		}
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			height: 10px;
			width: 80%;
			background: url(../images/bg/02.png) no-repeat;
			.background-size(100% 100%);
		}
		&:before {
			@media @md, @sm, @xs, @xxs {
				display: none;
			}
		}
		&:after {
			top: 0;
			left: 100%;
			width: 10px;
			height: 80%;
			background-image: url(../images/bg/01.png);
		}
		mark { 
			text-transform: uppercase;
			font-weight: 800;
			&:before {
				.fi;
				content: '\e81a';
				display: block;
				color: @c2;
				line-height: 1;
				font-size: 66px;
				font-weight: normal;
				margin: 0 0 5px;
				@media @xs, @xxs {
					font-size: 66px;
				}				
				.has-slideshow & {
					@media @lg, @md, @sm {
						font-size: 112px;						
					}
				}
			}
			&:after {
				content: '';
				display: block;
				height: 5px;
				margin: 3px 10px 0;
				background: #8f9799;
				.has-slideshow & {
					@media @lg, @md, @sm {
						height: 10px;
						margin-top: 6px;						
					}
				}
			}
		}
	}
	span { 
		position: relative;
		display: block;
		float: left;
		width: 222px;
		padding: 43px 0 0 34px;
		font-size: 0;
		text-align: left;
		&:before {
			.fi;
			content: '\e81e';
			font-size: 62px;
			line-height: 1;
		}
		&:after {
			.fi;
			.rotate(-12deg);
			content: '\e819';
			position: absolute;
			top: 23px;
			right: 93px;
			font-size: 30px;
			line-height: 1;
			color: @c2;
		}
	}
}
.mod_custom-consulting { 
	float: left;
	width: 380px;
	margin: 17px 62px 14px 0;
	@media @md {
		width: 506px;
		float: right;
		margin-right: 0;
	}
	@media @sm {
		width: 285px;
		margin-right: 0;
		.has-slideshow & {
			width: 286px;
		}
	}
	@media @xs, @xxs {
		display: none;
		float: none;
		width: auto;
		margin: 0 0 20px;
		text-align: center;
		.menu-on & {
			display: block;
		}
	}
	.mod-title { 
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 -4px 0 0;
		@media @sm {
			display: block;
			text-align: right;
			width: 100%;
		}
		@media @xs, @xxs {
			width: auto;
			margin: 0;
		}
	}
	.mod-content { 
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		text-align: right;
		font-size: 14px;
		line-height: 1.2;
		@media @sm {
			display: block;
			width: 100%;
		}
		@media @xs, @xxs {
			display: inline-block;
			font-size: inherit;
			width: auto;
		}
		mark {
			color: @c3;
			font-size: 17px;
			font-weight: 800;
			display: block;
			@media @xs, @xxs {
				display: inline-block;
				font-size: inherit;
			}
		}
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_search { 
	position: relative;
	float: left;
	width: 380px;
	margin: 0 62px 15px 0;
	padding: 0 57px 0 0;
	@media @md {
		width: 506px;
		float: right;
		margin-right: 0;
	}
	@media @sm {
		width: 285px;
		margin-right: 0;
	}
	@media @xs, @xxs {
		.clearfix;
		display: none;
		float: none;
		width: auto;
		margin: 0 0 20px;
		.menu-on & {
			display: block;
		}
	}
	form { 
		div { 
			input { 
				position: relative;
				z-index: 1;
				float: left;
				font-size: 16px;
			}
			button { 
				.border-radius(0 6px 6px 0);
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 0 0 10px;
				width: 63px;
				font-size: 0;
				background: @c3;
				&:hover{
					background: @c2;
				}
				&:before {
					.fi;
					content: '\e80c';
					float: left;
					width: 100%;
					margin: -2px 0 0;
					font-size: 52px;
				}
			}
		}
	}
}
.mod_custom-basket {
	@media @lg, @md, @sm {
		position: absolute;
		right: 20px;
		top: 0;
		bottom: 0;
		width: 264px;
		padding: 30px 20px 30px 106px;
		background: rgb(239,239,239);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=1 );
		@media @md, @sm, @xs, @xxs {
			position: relative;
			float: right;
			width: 506px;
			right: 0;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@media @sm {
			clear: both;
			width: 100%;
			.has-slideshow & {
				width: 474px;
			}
		}
		@media @xs, @xxs {
			float: none;
			right: inherit;
			width: auto;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			background: none;
			margin: 0 0 20px;
			padding-left: 0;
			padding-right: 100px;
		}
		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 10px;
			height: 80%;
			background: url(../images/bg/01.png) no-repeat;
			.background-size(100% 100%);
			@media @xs, @xxs {
				display: none;
			}
		}
		.mod-title { 
			text-transform: uppercase;
			font-size: 16px;
			margin: 0 0 5px;
			letter-spacing: -0.02em;
			@media @md, @sm, @xs ,@xxs {
				display: inline-block;
			}
			@media @xxs {
				display: none;
			} 
		}
		.mod-price { 
			color: @c2;
			font-size: 21px;
			@media @md, @sm, @xs, @xxs {
				display: inline-block;
			}
			mark { 
				font-siz: 21px;
				font-weight: 800;
			}
		}
		nav {
			a {
				.transition(0.2s);
				.border-radius(0 6px 6px 0);
				position: absolute;
				top: 50%;
				left: 0;
				height: 96px;
				width: 80px;
				margin: -48px 0 0;
				padding: 12px 0 0;
				color: #fff;
				background: #c2c2c2;
				text-align: center;
				text-decoration: none;
				font-size: 0;
				@media @md, @sm, @xs, @xxs {
					height: 60px;
					margin: -30px 0 0;
					padding-top: 7px;
				}
				@media @xs, @xxs {
					.border-radius(6px);
					left: auto;
					right: 0;
					font-size: 15px;
				}
				&:hover{
					background: @c2;
				}
				&:after {
					.fi;
					content: '\f218';
					display: block;
					line-height: 1;
					font-size: 46px;
					font-weight: normal;
					margin: -2px 5px 0 0;
					@media @md, @sm, @xs, @xxs {
						font-size: 30px;
					}
				}
				mark {
					.border-radius(50%);
					display: block;
					margin: auto;
					width: 22px;
					height: 22px;
					line-height: 22px;
					font-size: 14px;
					color: @c2;
					background: #fff;
				}
			}
		}
	}
	@media @xs, @xxs {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 10px;
		p, nav, .mod-price {
			margin: 0;
			display: inline-block;
			vertical-align: middle;
		}
		.mod-title {
			display: none;
		}
		.mod-price {
			display: none;
		}
		nav {
			a {
				.btn;
				.border-radius(6px);
				color: #fff;
				background: #c2c2c2;
				&:hover{
					background: darken(#c2c2c2,10);
				}
				mark {
					.border-radius(50%);
					display: inline-block;
					font-size: 13px;
					font-weight: 600;
					line-height: 1;
					padding: 3px 6px;
					margin: 0 3px 0 0;
					background: #000;
				}
			}
		}
	}
}
.mod_articles_category-slideshow { 
	position: relative;
	margin: 0 0 87px;
	@media @sm, @xs, @xxs {
		margin-bottom: 30px;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.mod-items { 
		.mod-item { 
			display: none;
			padding: 28px 0;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			&.cycle-slide {
				figure {
					.transition(0.4s);
					right: -15%;
				}
				.item-content {
					.transition(0.6s);
					left: -15%;
				}
				&.cycle-slide-active {
					figure {
						right: 0;
					}
					.item-content {
						left: 0;
					}
				}
			}
			.container {
				position: relative;
			}
			figure { 
				position: relative;
				z-index: 1;
				display: inline-block;
				vertical-align: bottom;
				margin: 0 -4px 0 0;
				width: 40%;
				@media @sm {
					float: left;
				}
				@media @xs, @xxs {
					display: block;
					float: none;
					margin: 0 auto 20px;
					width: 50%;
				}
				@media @xxs {
					width: 100%;
				}
				a {
					.border-radius(20px);
					display: block;
					position: relative;
					overflow: hidden;
					&:before {
						.transition(0.2s);
						.box-shadow(inset 0 0 20px fade(#000,30));
						.border-radius(20px);
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&:hover{
						&:before {
							.box-shadow(inset 0 0 40px fade(#000,30));
						}
					}
					img {
						display: block;
					}
				}
			}
			.item-content { 
				position: relative;
				display: inline-block;
				vertical-align: top;
				line-height: 1.3;
				width: 60%;
				padding: 0 0 0 60px;
				@media @sm {
					padding-left: 40px;
				}
				@media @xs, @xxs {
					display: block;
					width: 50%;
					text-align: center;
					padding: 0;
					margin: auto;
				}
				@media @xxs {
					width: 100%;
				}
				h2 { 
					font-size: 31px;
					margin: 0 0 25px;
					@media @sm, @xs, @xxs {
						font-size: 22px;
					}
					a {
						.transition(0.2s);
						text-decoration: none;
						&:hover{
							color: @c1;
						}
					}
				}
				p { 
					margin: 0 25% 20px 0;
					@media @sm, @xs, @xxs {
						margin-right: 0;
					}
				}
				.mod-price { 
					position: relative;
					@media @sm {
						float: left;
						width: 300px;
					}
					@media @sm, @xs, @xxs {
						margin: 0 0 10px;
					}
					.inner	{
						mark { 
							color: @c3;
							font-size: 36px;
							margin: 0 0 6px;
						}
						strike { 
							font-size: 20px;
						}
					}
					@media @lg, @md {
						.border-radius(20px 0 0 20px);
						position: relative;
						overflow: hidden;
						width: 330px;
						float: left;
						padding: 0 40px 0 0;
						line-height: 1;
						margin: 16px 45px 16px -120px;
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							right: 0;
							border: 100px solid transparent;
							margin: -100px 0 0;
							border-right-width: 0;
							border-left: 40px solid fade(#000,10);
						}
						.inner	{
							padding: 20px 0 20px 120px;
							background: fade(#000,10);
							&:before, &:after {
								.rotate(22deg);
								content: '';
								position: absolute;
								top: 50%;
								right: 21px;
								width: 12px;
								height: 120px;
								margin: -7px 0 0;
								background: @c2;
							}
							&:after {
								.rotate(-22deg);
								top: auto;
								bottom: 50%;
								margin: 0 0 -7px;
							}
							mark { 
								display: block;
							}
							strike { 
								display: block;
							}
						}
					}
				}
				.mod-discount { 
					.rotate(8deg);
					.border-radius(50%);
					.box-shadow(6px 6px 0 fade(#000,8));
					display: block;
					float: left;
					width: 124px;
					height: 124px;
					line-height: 124px;
					font-size: 39px;
					text-align: center;
					margin: 7px 0;
					white-space: nowrap;
					color: #fff;
					background: @c2;
					@media @sm {
						
					}
					@media @sm, @xs, @xxs {
						width: 80px;
						height: 80px;
						line-height: 80px;
						font-size: 20px;
						margin: -20px 0 0;
					}
					@media @xs, @xxs {
						float: none;
						margin: 0 auto 20px;
					}
				}
			}
		}
	}
	.pager {
		clear: both;
		height: 0;
		overflow: visible;
		span {
			.border-radius(50%);
			position: relative;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 6px 0 0;
			text-indent: -9999px;
			background: #fff;
			border: 3px solid #999;
			cursor: pointer;
			&:hover{
				border-color: @c3;
			}
			&.cycle-pager-active {
				background: @c2;
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 50%;
		margin: -23px 0 0 -(@content-width/2+20);
		font-size: 0;
		line-height: 1;
		font-weight: normal;
		color: @c1;
		text-decoration: none;
		@media (max-width: 1280px) {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before {
			.fi;
			content: '\e81f';
			font-size: 46px;
			margin: 0 0 0 -23px;
		}
	}
	.next {
		margin-left: (@content-width/2+20);
		&:before {
			content: '\e820';
		}
	}
}
.mod_menu-main { 
	position: relative;
	background: @c3;
	@media @xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: fade(#000,15);
	}
	@media @lg, @md {
		ul { 
			.rlist;
			display: table;
			width: 100%;
			table-layout: fixed;
			li {
				.transition(0.2s); 
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				font-size: 21px;
				line-height: 1.2;
				font-weight: 800;
				padding: 30px 20px;
				text-transform: uppercase;
				&:before {
					top: 30px;
					left: -2px;
					right: -2px;
					bottom: 4px;
					border-right: 4px solid fade(#000,10);
				}
				&:first-child {
					&:before {
						border-left: 4px solid fade(#000,10);
					}
				}
				&:hover, &.act{
					background: @c2;
					a {
						&:before {
							color: @c2;
						}
					}
				}
				a {
					color: #fff;
					text-decoration: none;
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					&:before {
						.transition(0.2s);
						position: absolute;
						bottom: 100%;
						left: 0;
						width: 100%;
						line-height: 1;
						font-size: 46px;
						text-align: center;
						color: @c3;
						margin: 0 0 -1px;
					}
					&.icon-wall-custom:before {
						font-size: 52px;
					}
					&.icon-grass-custom:before {
						font-size: 82px;
						margin-bottom: -20px;
					}
				}
			}
		}
	}
	@media @sm, @xs, @xxs {
		ul {
			.rlist;
			li {
				text-transform: uppercase;
				@media @sm {
					display: inline-block;
					width: 50%;
					margin: 0 -4px 0 0;
				}
				a {
					display: block;
					text-decoration: none;
					color: #fff;
					padding: 20px 20px 20px 100px;
					border-top: 4px solid fade(#000,10);
					&:before {
						position: absolute;
						left: 0;
						top: 0;
						font-size: 20px;
						color: fade(#000,20);
						width: 100px;
						height: 64px;
						line-height: 64px;
						text-align: center;
					}
					&.icon-grass-custom {
						&:before {
							font-size: 32px;
						}
					}
					&:hover{
						&:before {
							color: #fff;
						}
					}
				}
				&.act {
					a {
						&:before {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
.menu_mobile_container {
	display: none;
	background: #999;
	@media @xs, @xxs {
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rlist;
		margin: 0 -20px;
		li {
			text-transform: uppercase;
			a {
				display: block;
				text-decoration: none;
				color: #fff;
				padding: 20px;
				border-bottom: 4px solid fade(#000,10);
				&:hover{
					background: #777;
				}
			}
			&.act {
				a {
					background: #777;
				}
			}
		}
	}
}
.eshop-items { 
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 -10px;
	@media @xs, @xxs {
		margin: 0 -5px;
		.menu-on & {
			display: none;
		}
	}
	.eshop-items-title { 
		text-align: center;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;
		margin: 44px 10px;
		@media @xs, @xxs {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 28px;
		}
	}
	.eshop-item { 
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin: 0 -2px 70px;
		padding: 0 10px;
		@media @sm, @xs {
			width: 50%;
		}
		@media @xs, @xxs {
			padding: 0 5px;
		}
		@media @xxs {
			width: 100%;
		}
		#col-main & {
			width: 33.3333%;
			@media @sm, @xs {
				width: 50%;
			}
			@media @xxs {
				width: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			width: 10px;
			height: 180px;
			margin: 0 0 0 -10px;
			background-image: url(../images/bg/01.png);
			.background-size(100% 100%);
			@media @xs, @xxs {
				margin-left: -5px;
			}
		}
		a { 
			.transition(0.2s);
			display: block;
			padding: 25px 28px;
			background: #f5f5f5;
			text-decoration: none;
			color: @c1;
			@media @xs, @xxs {
				padding-left: 10px;
				padding-top: 10px;
				padding-right: 10px;
			}
			&:hover{
				background: #ffecd9;
			}
			figure { 
				position: relative;
				margin: 0 0 20px;
				img { 
					display: block;
					margin: auto;
				}
				.labels { 
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					.label { 
						display: inline-block;
						padding: 7px 20px;
						line-height: 1;
						color: #fff;
						text-transform: uppercase;
						background: #999;
						&.label_01 {
							background: @c3;
						}
						&.label_02 {
							background: @c4;
						}
						&.label_03 {
							background: @c5;
						}
					}
				}
			}
			.mod-content { 
				font-size: 14px;
				line-height: 1.3;
				h2 { 
					font-size: 15px;
					text-transform: uppercase;
					font-weight: 600;
					color: @c2;
					margin: 0 0 14px;
				}
				p { 
					margin: 0 0 12px;
				}
				.mod-price { 
					margin: 0 0 12px;
					color: @c3;
					font-size: 26px;
					mark { 
						font-weight: 800;
						letter-spacing: 0.05em;
					}
				}
				.mod-button { 
					.btn;
					position: absolute;
					bottom: -20px;
					left: 30%;
					right: 30%;
					padding: 0;
					&:after {
						.fi;
						content: '\f0a9';
					}
				}
			}
		}
	}
	.eshop-nav {
		a {
			.btn;
			position: relative;
			min-width: 31%;
			height: auto;
			padding: 22px 20px 10px;
			line-height: 1.2;
			overflow: hidden;
			&:after {
				.fi;
				content: '\f141';
				display: block;
				font-weight: normal;
				font-size: 26px;
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				border: 900px solid #fff;
				margin: 0 0 0 -900px;
				border-bottom-width: 0;
				border-top: 150px solid transparent;
			}
		}
	}
}
.mod_custom-offer {
	position: relative;
	padding: 15px 0 48px;
	@media @xs, @xxs {
		padding: 0;
	}
	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 358px;
		background: url(../images/bg/03.jpg) top;
		@media @xs, @xxs {
			display: none;
		}
	}
	&:after {
		background: fade(#000,20);
	}
}
.mod_banners { 
	position: relative;
	padding: 56px 0 76px;
	background: #e6e6e6 url(../images/bg/03.jpg) bottom;
	background-image: url(../images/bg/04.png), url(../images/bg/03.jpg);
	background-position: top, bottom;
	background-repeat: no-repeat, repeat;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		.mod-title { 
			text-transform: uppercase;
			font-size: 36px;
			line-height: 1.2;
			margin: 0 0 44px;
			font-weight: 800;
			text-align: center;
			@media @xs, @xxs {
				font-size: 28px;
			}
		}
		ul { 
		.rlist;
			border-left: 50px solid #fff;
			border-right: 50px solid #fff;
			background: #fff;
			li { 
				display: inline-block;
				vertical-align: middle;
				padding: 23px 37px;
				a { 
					img { 
						display: block;
					}
				}
			}
		}
		.cycle-carousel-wrap {
			position: relative!important;
			width: 999em;
		}
		.cycle-slide {
			&.cycle-sentinel {
				display: none!important;
			}
		}
		.prev, .next {
			position: relative;
			z-index: 101;
			float: left;
			font-size: 0;
			line-height: 1;
			text-decoration: none;
			font-weight: normal;
			margin: 0 0 -40px;
			top: -76px;
			left: -17px;
			&:hover{
				color: @c1;
			}
			&:before {
				.fi;
				content: '\f0a8';
				font-size: 40px;
			}
		}
		.next {
			float: right;
			left: auto;
			right: -17px;
			&:before {
				content: '\f0a9';
			}
		}
	}
}
.mod_custom-about { 
	width: 50%;
	float: left;
	padding: 0 60px 0 0;
	margin: 0 0 73px;
	color: #fff;
	@media @sm {
		padding-right: 30px;
	}
	@media @xs, @xxs {
		width: 100%;
		padding: 0;
		margin: 0 0 30px;
		text-align: center;
	}
	a {
		color: #fff;
	}
	.mod-title { 
		font-size: 28px;
		line-height: 1.2;
		margin: 0 0 45px;
		text-transform: uppercase;
		@media @xs, @xxs {
			margin: 0 0 20px;
		}
	}
	@media @lg, @md {
		ul { 
			.rul;
			margin: 0 -20px;
			li {
				margin: 0 -4px 0 0;
				padding: 0 12px;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				line-height: 1.2;
				width: 33.3333%;
				text-transform: uppercase;
				&:before {
					.border-radius(50%);
					position: static;
					display: block;
					margin: 0 auto 20px;
					width: 118px;
					height: 118px;
					line-height: 116px;
					font-size: 58px;
					border: 1px solid #fff;
					@media @md {
						width: 92px;
						height: 92px;
						line-height: 90px;
						font-size: 42px;
					}
				}
			}
		}
	}
	@media @sm, @xs, @xxs {
		ul {
			.rul;
			li {
				padding: 0 0 0 50px;
				margin: 0 0 20px;
				text-transform: uppercase;
				@media @xs, @xxs {
					display: inline-block;
					vertical-align: top;
					margin: 0 20px 20px;
					padding: 30px 0 0;
				}
				&:before {
					font-size: 28px;
					top: -4px;
					@media @xs, @xxs {
						top: 0;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}
.mod_menu-bottom {
	width: 50%;
	float: left;
	clear: left;
	color: #fff;
	padding: 0 30px 0 0;
	margin: 0 0 50px;
	@media @xs, @xxs {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	a {
		color: #fff;
	}
	.mod-title { 
		font-size: 25px;
		line-height: 1.2;
		margin: 0 0 40px;
		text-transform: uppercase;
	}
	ul { 
		.rul;
		li { 
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			width: 50%;
			margin: 0 -4px 18px 0;
			padding: 0 0 0 20px;
			line-height: 1.2;
			@media @xs, @xxs {
				width: auto;
				margin: 0 10px 10px 0;
			}
			&:before {
				font-size: 15px;
			}
			a { 
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-contact { 
	width: 50%;
	float: right;
	padding: 0 0 320px 50px;
	color: #fff;
	@media @sm {
		padding-left: 30px;
	}
	@media @xs, @xxs {
		width: 100%;
		padding: 0 ;
		text-align: center;
	}
	a {
		color: #fff;
	}
	.mod-title { 
		font-size: 28px;
		line-height: 1.2;
		margin: 0 0 43px;
		text-transform: uppercase;
		@media @xs, @xxs {
			margin: 0 0 20px;
		}
	}
	figure {
		display: inline-block;
		vertical-align: middle;
		margin: 0 -4px 0 0;
		padding: 0 20px 0 0;
		width: 38%;
		@media @md, @sm, @xs, @xxs {
			display: none;
		}
		img {
			.border-radius(50%);
			display: block;
		}
	}
	.mod-content {
		display: inline-block;
		vertical-align: middle;
		width: 62%;
		@media @md, @sm {
			width: 100%;
		}
	}
	.mod-address, .mod-contact, .mod-open { 
		position: relative;
		padding: 0 0 0 54px;
		margin: 0 0 20px;
		font-size: 16px;
		line-height: 1.6;
		@media @xs, @xxs {
			display: inline-block;
			vertical-align: top;
			padding: 54px 0 0;
		}
		&:before {
			.fi;
			.border-radius(50%);
			position: absolute;
			top: 50%;
			left: 0;
			width: 42px;
			height: 42px;
			line-height: 40px;
			margin: -21px 0 0;
			text-align: center;
			font-size: 28px;
			font-weight: normal;
			border: 1px solid #fff;
			@media @xs, @xxs {
				left: 50%;
				top: 0;
				margin: 0 0 0 -21px;
			}
		}
	}
	.mod-address {
		&:before {
			content: '\e813';
		}
	}
	.mod-contact { 
		&:before {
			content: '\e815';
		}
	}
	.mod-open {
		&:before {
			content: '\e814';
		} 
		table { 
			tbody { 
				tr { 
					th, td { 
						padding: 0 0 0 10px;
						text-align: left;
					}
					th {
						padding-left: 0;
						width: 35%;
						@media @xs, @xxs {
							display: none;
						}
					}
					td { 
						white-space: nowrap;
					}
				}
			}
		}
	}
	.mod-map {
		position: absolute;
		bottom: 0;
		left: 50%;
		right: 0;
		height: 304px;
		@media @xs, @xxs {
			display: none;
		}
		iframe {
			border: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.mod_custom-copy-copy {
	float: left;
	margin: 25px 0;
	font-size: 16px;
	@media @xs, @xxs {
		float: none;
		text-align: center;
	}
	a {
		color: #fff;
	}
}
.mod_custom-copy-xart {
	float: right;
	padding: 5px 0;
	margin: 20px 0;
	@media @xs, @xxs {
		float: none;
		text-align: center;
	}
	a {
		display: inline-block;
		color: @c1;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 2px 30px 2px 0;
		color: #999;
		background: url(../images/icon/xart.png) no-repeat right;
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_breadcrumbs {
	position: relative;
	padding: 12px 0;
	margin: 0 0 60px;
	background: #e6e6e6 url(../images/bg/03.jpg) top;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: fade(#000,15);
	}
	ul {
		.rul;
		position: relative;
		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 0 0;
			font-size: 14px;
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.home {
				padding-left: 0;
				&:before {
					display: none;
				}
				a {
					&:before {
						.fi;
						content: '\e811';
						position: relative;
						top: -2px;
						margin: 0 10px 0 0;
						display: inline-block;
						vertical-align: middle;
						font-size: 24px;
						color: fade(#000,30);
					}
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 50px;
	@media @xs, @xxs {
		display: none;
		margin: 20px 0;
		.menu-on & {
			display: block;
		}
	}
	&>ul {
		&>li {
			line-height: 1.2;
			padding: 0 0 0 18px;
			border-bottom: 1px solid #dedede;
			&:before {
				top: 8px;
				font-size: 16px;
				font-weight: normal;
			}
			&>a {
				color: @c1;
				font-size: 16px;
				text-decoration: none;
				display: block;
				padding: 9px 0 8px;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&>a {
					color: @c3;
				}
			}
			&>ul {
				margin: 7px 0 0 -18px;
				padding: 18px 0 3px 16px;
				border-top: 3px solid #dedede;
				li {
					margin: 0 0 14px;
					@media @sm {
						display: inline-block;
						margin: 0 5px 12px 0;
						padding: 0;
						&:before {
							display: none;
						}
						&:after {
							content: ',';
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
					&.act {
						&>a {
							color: @c2;
							font-weight: 800;
						}
					}
					a {
						color: @c1;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.mod_custom-filter {
	margin: 0 0 20px;
	.filter-checkbox, .filter-selector, .filter-range {
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px 20px 0;
		label {
			margin: 0 7px 0 0;
		}
		.slider_range {
			display: inline-block;
			vertical-align: middle;
			width: 180px;
			&>input {
				max-width: 60px;
			}
			.ui-slider {
				margin: 0;
			}
		}
	}
	.filter-selector {
		width: 200px;
	}
	.filter-range {
		margin-right: 0;
	}
}
.eshop-detail {
	.clearfix;
	.detail-description {
		.clearfix;
		width: 50%;
		float: right;
		margin: 0 0 40px;
		@media @md, @sm, @xs {
			width: 60%;
		}
		@media (max-width:580px) {
			width: 100%;
		}
		.description {
			margin: 0 0 40px;
			figure {
				float: right;
				margin: 0 0 0 20px;
				@media @xxs {
					float: none;
					margin: 0;
				}
			}
		}
		.options {
			margin: 0 0 10px;
			.items {
				margin: 0 -10px;
				.item {
					display: inline-block;
					vertical-align: middle;
					width: 50%;
					padding: 0 10px;
					margin: 0 -2px 10px;
					@media @xs, @xxs {
						width: 100%;
					}
				}
			}
		}
		.price {
			margin: 0 0 35px;
			.availability {
				padding: 0 0 35px;
				margin: 0 0 35px;
				border-bottom: 1px solid #efefef;
			}
			.items {
				.clearfix;
				.item {
					position: relative;
					float: left;
					width: 55%;
					padding: 0 20px 0 0;
					@media @sm, @xs, @xxs {
						width: 80%;
						margin: 0 0 30px 0;
					}
					@media @xs, @xxs {
						width: 100%;
						padding-right: 0;
					}
					&.item_01 {
						.label {
							display: inline-block;
							vertical-align: bottom;
							width: 42%;
							font-size: 16px;
							margin: 0 -4px 10px 0;
							@media @xxs {
								width: 100%;
								margin-bottom: 0;
							}
						}
						.content {
							display: inline-block;
							vertical-align: bottom;
							width: 58%;
							margin: 0 0 10px;
							@media @xxs {
								width: 100%;
							}
							mark {
								white-space: nowrap;
								line-height: 1;
								color: @c3;
								font-size: 28px;
								strong {
									font-size: 34px;
								}
							}
						}
					}
					&.item_02 {
						width: 45%;
						padding: 0 80px 0 0;
						@media @sm {
							width: 50%;
						}
						@media @xs {
							width: 80%;
						}
						@media @xxs {
							width: 100%;
						}
						mark {
							color: @c2;
						}
						.discount {
							.rotate(5deg);
							.border-radius(50%);
							.box-shadow(3px 3px 0 fade(#000,10));
							position: absolute;
							top: -3px;
							right: 0;
							width: 76px;
							height: 76px;
							line-height: 76px;
							text-align: center;
							color: #fff;
							font-size: 24px;
							background: @c2;
						}
					}
				}
			}
		}
		.basket {
			input {
				display: inline-block;
				vertical-align: middle;
				width: 90px;
				text-align: center;
				font-size: 20px;
				@media @xxs {
					display: block;
					width: 100%;
				}
			}
			span {
				display: inline-block;
				vertical-align: middle;
				margin: 0 18px;
				@media @xxs {
					display: block;
					text-align: center;
					margin: 10px 0;
				}
			}
			button {
				display: inline-block;
				vertical-align: middle;
				height: 75px;
				line-height: 75px;
				font-size: 23px;
				padding: 0 22px;
				@media @xxs {
					display: block;
					width: 100%;
				}
				&:before {
					.fi;
					content: '\f218';
					font-weight: normal;
					font-size: 38px;
					float: left;
					margin: 0 20px 0 0;
				}
			}
		}
	}
	.detail-image {
		.clearfix;
		width: 50%;
		padding: 0 100px 0 0;
		margin: 0 0 40px;
		float: left;
		@media @md, @sm, @xs {
			width: 40%;
			padding-right: 40px;
		}
		@media @xs {
			padding-right: 20px;
		}
		@media (max-width:580px) {
			width: 100%;
			padding-right: 0;
		}
		figure {
			margin: 0 0 10px 0;
			@media (max-width:580px) {
				float: left;
				width: 33.3333%;
				padding: 0 5px 0 0;
			}
			@media @xxs {
				width: 50%;
			}
			a {
				&:hover{
					img {
						border-color: @c2;
					}
				}
			}
			img {
				display: block;
				border: 1px solid #ccc;
			}
		}
		.thumbnails {
			.rlist;
			text-align: center;
			margin: 0 -5px 30px;
			@media (max-width:580px) {
				text-align: left;
			}
			li {
				display: inline-block;
				vertical-align: middle;
				width: 25%;
				margin: 0 -2px;
				padding: 0 5px 10px;
				@media @sm, @xs {
					width: 50%;
				}
				@media (max-width:580px) {
					width: 16.6666%;
				}
				@media @xxs {
					width: 25%;
				}
				a {
					img {
						display: block;
						border: 1px solid #ccc;
					}
					&:hover{
						img {
							border-color: @c2;
						}
					}
				}
			}
		}
	}
}
.mod_custom-panes {
	clear: both;
	.tabs {
		margin: 0 0 40px;
		ul {
			.rlist;
			.clearfix;
			border-bottom: 3px solid #dedede;
			li {
				float: left;
				vertical-align: bottom;
				margin: 0 0 -3px 0;
				padding: 0 5px 0 0;
				min-width: 20%;
				@media @xs, @xxs {
					float: none;
				}
				a {
					position: relative;
					display: block;
					padding: 32px 30px 18px;
					text-decoration: none;
					color: @c1;
					text-transform: uppercase;
					font-size: 18px;
					line-height: 1.2;
					text-align: center;
					background: #dedede;
					border: 3px solid #dedede;
					border-bottom: none;
					@media @sm {
						font-size: 15px;
						padding: 22px 20px 12px;
					}
					&:hover{
						color: @c2;
					}
					&:before {
						content: '';
						position: absolute;
						top: -3px;
						left: -3px;
						right: -3px;
						height: 9px;
						background: #fff;
					}
				}
				&.act {
					a {
						background: #fff;
						color: @c3;
						border-top: 3px solid #dedede; 
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	.pane {
		margin: 0 0 40px;
	}
}
.ui-slider {
	.border-radius(5px);
	position: relative;
	display: block;
	margin: 40px 0;
	height: 8px;
	background: #ccc;
}
.ui-slider-range {
	position: absolute;
	top: 0;
	bottom: 0;
	background: @c3;
}
.ui-slider-handle {
	.border-radius(2px 2px 0 0);
	position: absolute;
	top: -4px;
	bottom: 0;
	width: 16px;
	margin: 0 0 0 -8px;
	background: @c1;
	outline: none;
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		border: 8px solid @c1;
		border-top: none;
		border-bottom: 6px solid transparent;
	}
	&:focus {
		z-index: 1;
		span {
			background: #f1f1f1;
		}
	}
}
.ui-slider-handle span {
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 80px;
	text-align: center;
	margin: 0 0 5px -40px;
	white-space: nowrap;
	background: #fff;
}
